/*containers*/

.container {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	height: auto;
	margin-top: 3%;
}

.container-vertical {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: auto;
	margin-top: 2%;
}

.container-top {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
	height: auto;
	margin-top: 3%;
}

#word-to-guess-border {
	display: flex;
	justify-content: center;
	font-size: 30px;
	width: 70%;
	height: 25%;
	border: 2px black solid;
}

.container-login {
	display: flex;
	justify-content: center;
	width: 100%;
	height: auto;
	margin: 1%;
}


/*Difficulty level
*/#Difficulty {
	color: blue;
	font-size: 20px;
}



/*word to guess*/

#word-length {
	color: green;
	font-size: 25px
}

#word-to-guess {
	font-size: 30px;
	text-align: center;
	margin: auto;
}

#scores-container {
	display: flex;
	margin-left: 10%;
	margin-right: 20%;
}

.scores {
	display: flex;

}

/*buttons and forms*/

#letter-guessing-form {
	display: inline;
}

input[type=text] {
    border: 2px solid black;
    border-radius: 4px;
    width: 40%;
    padding-left: 5px;
}

input[type=submit] {
	font-size: 16px;
	border-radius: 4px;
	background-color: blue;
	color: white;
	width: 70px;
	margin-right: 30px;

}

#no-play-again {
	font-size: 16px;
	border-radius: 4px;
	background-color: blue;
	color: white;
	width: 60px;
}

#reset-game-button {
	font-size: 16px;
	border-radius: 4px;
	background-color: green;
	color: white;
	width: 120px;
	height: 30px;
	margin-top: 15%;
}

/*remaining guesses*/

#num-remaining-guesses {
	color: red;
}

#incorrect-letters-guessed {
	font-size: 30px;
}

#incorrect-guesses-tried {
 align-self: center;
}


/*
modal information */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

/*signup page*/

#signup {
	margin-top: 5%;
	width: 100%;
	align-self: baseline;
	margin-right: 5%;
}

#login {
	margin-top: 5%;
	width: 100%;
	align-self: baseline;
	margin: 5%;
}

.title {
	text-align: center;
	margin-top: 3%;
}


/*leaderboard and history 
*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: 5%;
}

td, th {
    border: 1px solid #011627;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #2EC4B6;
}


/*anti progress bar
*/

#myProgress {
  margin-top: 2%;
  width: 100%;
  background-color: #87CEEB;
}

#myBar {
  width: {{bar_width}};
  height: 30px;
  background-color: #ff4d4d;
  text-align: center;
  line-height: 30px;
  color: white;
}

