<html>
<head>
	<title>{% block title %}WORD GUESSING GAME{% endblock %}</title>

	<!-- Helps browser control dimensions and scaling -->
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">

	<!-- Bootstrap Stylesheet -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

	<!-- Link to Stylesheet -->
	<link rel="stylesheet" href="/static/css/styles.css">

	<!-- jquery script -->
	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	
</head>
<body>
		<!-- Bootstrap Navbar -->

	  <nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="#">Word Whizz</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarText">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item">
	        <a class="nav-link" href="/game_rules">Rules</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/play">Play </a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/view_history">{{name}}'s Games</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/view_leaderboard">Leaders</a>
	      </li>
	    </ul>
	    <span class="navbar-text">
	        <a class="nav-link" href="/logout">Log Out</a>
	    </span>
	  </div>
	</nav>

		<!-- Flash message-->

	  {% for message in get_flashed_messages() %}
   		<li>{{ message }}</li>
  		{% endfor %}

	<!-- Jinja Template Inheritance -->
	
  {% block content %} BASE {% endblock %}
</body>
</html>

