{% extends 'base.html' %}


{% block title %}Rules{% endblock %}

{% block content %}
	
	<!-- Leadboard Table -->

 	<div class="container">

 		<h3>Game Rules</h3>
 		<ul>
 			<li>The computer will pick a secret dictionary word at the beginning of the game</li>
 			<li> The computer wins the game if the guesser picks 6 letters that are not in the word, and the guesser loses</li>
 			<li>The computer deducts one attempt each time a guessed letter is not in the word</li>
 			<li>The guesser wins the game if they guess all letters in the word, and guess less than 6 letters that are not in the word</li>
 		<ul>
 	</div>

 	<hr>

 	<div class="container">
 		<h3>Guidelines</h3>
 		<ul>
 			<li>The guesser can adjust difficulty level on a scale from 1-10, with 10 providing the most difficult words.</li>
 			<li> The computer sets difficulty level at 3 when the player logs in, but when the player adjusts difficulty level, it is maintained throughout the session</li>
 			<li>The computer awards points for each correctly guessed letter</li>
 			<li>The computer awards more points at higher word difficulty levels</li>
 			<li>The computer will still award points if the player loses the game, but does not award points if the player does not finish the game.</li>
 		<ul>
 	</div>


{% endblock %}