{% extends 'base.html' %}


{% block title %}Game{% endblock %}

{% block content %}

Please guess this {{length}} letter word<br>
   <div id="word-to-guess">
		{% for letter_index in range(0,length) %} 

		<span id={{letter_index}}>___</span> 
		{% endfor %}
   </div> 

  <div> 
  	<form action='/check' id="letter-guessing-form">
  	  <label>Please Enter a Letter: </label><input id="letter-input" type = "text" name="letter-input" maxlength=1 size=1 required>
  	  <input type="submit" value="Submit">
  	</form>
  </div>

  <div id="incorrect-letters-guessed">
  	<h4> Incorrect Guesses So Far </h4>

  </div>

  <div>
  	<h4> You have <span id="num-remaining-guesses">{{guesses}}</span> remaining guesses</h4>
  </div>

  <script src="/static/js/game.js"></script>

{% endblock %}
