{% extends 'base.html' %}


{% block title %}GAME{% endblock %}

{% block content %}

Please guess this {{length}} letter word<br>
{% for letter_index in range(0,length) %} 

	<span id={{letter_index}}>___</span> 
{% endfor %}

  <div>
  	<form action='/check' id="letter-guessing-form">
  	  Please Enter a Letter: <input id="letter-input" type = "text" name="letter-input" maxlength=1 size=1 required>
  	  <input type="submit" value="Submit">
  	</form>
  </div>

  <script src="/static/js/game.js"></script>
{% endblock %}
