<html>
<head>
	<title>Sign Up/Log In Page</title>

	<!-- Bootstrap Stylesheet -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

	<!-- Link to Stylesheet -->
	<link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
	<div class="title"> 
		<h1>Wild Word Warm-Up</h1>
	</div>

	<div class="container-login"> 

	   <div id="login">
	   		<h1>Log In</h1>
			<form id="login-form">
			  <div class="form-group">
			    <label for="InputEmail">Email address</label>
			    <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email">
			  </div>
			  <div class="form-group">
			    <label for="InputPassword">Password</label>
			    <input type="password" class="form-control" id="InputPassword" placeholder="Password">
			  </div>
			  <button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>


		<div id="signup">
			<h1>Sign Up</h1>
			<form id="signup-form">
			  <div class="form-group">
			    <label for="SignUpInputEmail">Email address</label>
			    <input type="email" class="form-control" id="SignUpInputEmail" aria-describedby="emailHelp" placeholder="Enter email">
			  </div>
			  <div class="form-group">
			    <label for="SignUpPassword">Password</label>
			    <input type="password" class="form-control" id="SignUpPassword" placeholder="Password">
			  </div>
			  <div class="form-group">
			    <label for="ConfirmInputPassword">Confirm Password</label>
			    <input type="password" class="form-control" id="ConfirmInputPassword" placeholder="Password">
			  </div>
			  <button type="submit" class="btn btn-primary">Submit</button>
			</form>
	   </div>

    </div>


</body>
</html>